<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book Requests</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
</head>
<body>
  
    <div class="container 1">
        <h1>Book Requests</h1><hr>
        <table border="1" class="table table-striped table-responcive-md">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Cost</th>
                    <th>Request by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="request : ${listRequests}">
                    <td th:text="${request.id}"></td>
                    <td th:text="${request.title}"></td>
                    <td th:text="${request.author}"></td>
                    <td th:text="${request.cost}"></td>
                     <td th:text="${request.issuedFor}"></td>  
                     <td align=center><a
                        th:href="@{/acceptIssueRequest/{id}(id=${request.id})}"
                        class="btn btn-danger">Accept</a></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <a th:href="@{/}">Back to Library</a>
    </div>  
</body>
</html>