<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Management System</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>

	<div class="container my-2">
		<br> 
		
		<h1 align=left>Search</h1><hr>
		<form th:action="@{/searchBook}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search a Book..." size="50" >
  <button type="submit" class="btn btn-info" >Search</button>
  <button type="reset" class="btn btn-info" >Reset</button>
  </form>
<br><br>
		<table border="1" class="table table-striped table-responcive-md">
			<thead >
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Author</th>
					<th>Cost</th>
					<th>Quantity</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="book: ${booksList}">
					<td th:text="${book.id}">Id</td>
					<td th:text="${book.title}">Title</td>
					<td th:text="${book.author}">Author</td>
					<td th:text="${book.cost}">Cost</td>
					<td th:text="${book.quantity}">Quantity</td>

					<td align=center><a
						th:href="@{/showFormForUpdate/{id}(id=${book.id})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/deleteBook/{id}(id=${book.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/}" class="btn btn-primary float-right">Go to HomePage</a>
	</div>
</body>
</html>
