<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
<div class="container">
		<h1>Library Management System</h1>
		<hr>
		<h2>Update Book</h2>
		<form action="#" th:action="@{/saveBook}" th:object="${book}"
			method="POST"></form>
			
			<input type="number" th:field="*{Id}" 
			class="form-control mb-4 col-4">
			
		<input type="text" th:field="*{Title}" 
			class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{Author}" 
			class="form-control mb-4 col-4">
			
			<input type="number" th:field="*{Cost}" 
			class="form-control mb-4 col-4">
			
			<input type="number" th:field="*{Quantity}" 
			class="form-control mb-4 col-4">
			
			<button type="submit" class="btn btn-info col-2">Update Book </button>
			</form>
			<hr>
			<a th:href = "@{/}">Back to Library</a>
			</div>	
</body>
</html>